.searchBar {
  border: 2px solid black;
  border-radius: 16px;
  width: 100%;
  min-width: 0;
  flex: 1;
  height: 0.5rem;
  padding: 0.5rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.listing {
  padding: 1rem;
  border-radius: 16px;
  background-color: white;
  transition: background-color 250ms ease, transform 250ms ease;
}

.listing:hover {
  background-color: #EEE;
  transform: scale(1.1);
}

.listingImage {
  width: 250px;
  height: 250px;
  background-color: #BAD2D6;
  border-radius: 16px;
  margin-bottom: 0.5rem;
}

.listingContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.largeText {
  font-size: 24px;
}

select {
  border: 2px solid black;
  border-radius: 16px;
  padding: 4px 8px;
  background-color: #BAD2D6;
}